#contenitore {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 0%;
    margin-top: 0%;
    height: 100%;
}

#col_destra {
    float: right;
    width: 60%;
    height: 200vh;
    position: relative;
    text-align: left;
    padding: 2%;
}

#col_sinistra {
    background: linear-gradient(90deg, rgb(30, 30, 175) 0%,  rgb(20, 20, 140) 50%, rgb(10, 10, 105) 100%);
    float: left;
    width: 30%;
    height: 200vh;
    position: relative;
    text-align: right;
    padding: 2%;
    color: beige;
}

.img_div{
    width: 80%; 
    position: relative; 
    float: center; 
    padding:10%;
}

.rbot {
    float: right;
    position: relative;
    padding: 1%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

li {
    margin-top: 3px;
    margin-bottom: 4px;  
}

p, h3, b{
    margin-top: 3px;
    margin-bottom: 4px;  
}

th {
    padding: 3%;
    position: relative;
}

table{
    width: 90%;
    position: relative;
}


table, th, tr {
    border: 1px solid beige;
    border-collapse: collapse;
}

button{
    background: rgb(23, 81, 189);
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 20%;
    padding-bottom: 20%;
    color: beige;
    font-weight: bold;
    font-size: medium;
}

@media print {
    #noprint{
        display:none;
    }
    #col_sinistra {
        print-color-adjust: exact;
    }
}
