#col_destra {
    float: right;
    width: 60%;
    height: 100%;
    position: relative;
    text-align: left;
    padding: 2%;
}

#col_sinistra {
    background-color: #106ae0;
    float: left;
    width: 30%;
    height: 100vw;
    position: relative;
    text-align: right;
    padding: 2%;
    color: beige;
}

.img_div{
    width: 80%; 
    position: relative; 
    float: center; 
    padding:10%;
}

#contenitore {
    margin-left: 10%;
    margin-right: 10%;
}

.rbot {
    float: right;
    position: relative;
    padding: 1%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

li {
    margin-top: 1px;
    margin-bottom: 1px;
}

th {
    padding: 3%;
}

table {
    border: 10px;
    border-color: beige;
}
@media print {
    #noprint{
        display:none;
    }
    #col_sinistra {
        print-color-adjust: exact;
    }
}
